<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


 <!-- configuration of the DataSource Bean -->
 <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
 <property name="url" value="jdbc:mysql://localhost:3306/userdb"/>
 <property name="username" value="root"/>
 <property name="password" value=""/>
 </bean>
 <!-- configuration of the Daos Bean -->
<bean id="dao" class="daos.UserDao" autowire="byType" /> 
 <!-- configuration of the validator Bean -->
  <bean id="mailValidator" class="validators.MailValidator" autowire="byType" /> 
 
</beans>











